SleekSurf.Web/Web References/com.sleeksurf.webservices.www/AutoCompleteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMatchingKeyword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefix" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nRecordSet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatchingKeywordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMatchingKeywordResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMatchingKeywordSoapIn">
    <wsdl:part name="parameters" element="tns:GetMatchingKeyword" />
  </wsdl:message>
  <wsdl:message name="GetMatchingKeywordSoapOut">
    <wsdl:part name="parameters" element="tns:GetMatchingKeywordResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoCompleteServiceSoap">
    <wsdl:operation name="GetMatchingKeyword">
      <wsdl:input message="tns:GetMatchingKeywordSoapIn" />
      <wsdl:output message="tns:GetMatchingKeywordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoCompleteServiceSoap" type="tns:AutoCompleteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMatchingKeyword">
      <soap:operation soapAction="http://tempuri.org/GetMatchingKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoCompleteServiceSoap12" type="tns:AutoCompleteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMatchingKeyword">
      <soap12:operation soapAction="http://tempuri.org/GetMatchingKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoCompleteService">
    <wsdl:port name="AutoCompleteServiceSoap" binding="tns:AutoCompleteServiceSoap">
      <soap:address location="http://www.webservices.sleeksurf.com/AutoCompleteService.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoCompleteServiceSoap12" binding="tns:AutoCompleteServiceSoap12">
      <soap12:address location="http://www.webservices.sleeksurf.com/AutoCompleteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>